<ion-tabs color="light">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Cloud" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Project" tabIcon="contacts"></ion-tab>
</ion-tabs>
