<!--
  Generated template for the ManagePPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="background:#55efc4;">

  <ion-navbar >

    <ion-title >Mushroom plant</ion-title>

  </ion-navbar>
  
</ion-header>


<ion-content padding>

    <div>
        <img src="../assets/imgs/like.svg" class="menu-top1">

    </div>

    <div class="tempText">
        <span  style="font-size:400%; color: #55efc4;">Stable</span>
        
    </div>

  <h1>
      Manual setting
  </h1>

  <ion-item>
      <ion-label>Water Springer</ion-label>
      <ion-toggle enable checked="false"></ion-toggle>
    </ion-item>

  <h1 style="padding-top: 2vh">
      Sensor display status
  </h1>

  <ion-grid style="text-align: center;">
      <ion-row >
         <ion-col >
          <div class="menu-ms-active">
            <p style="font-size:400%; padding-top: 2.5vh; color: white">17</p>
          </div>
          <span  class="menu-mid1" style="font-size:100% ;color: #998ead;">Temperature</span>

          
         </ion-col> 
         <ion-col>
          <div class="menu-ms-active">
              <p style="font-size:400%; padding-top: 2.5vh; color: white">17</p>
          </div>
          <span  class="menu-mid1" style="font-size:100%; color: #998ead">Humidity</span>
        </ion-col> 
      </ion-row>
    </ion-grid>
</ion-content>
