
<!-- <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content fixed-content  padding class="background-home">
  
  <!-- header -->
  <h1>Select Climate</h1><p></p>
  <h1>Setting</h1><p></p>

  <h3 style="color: #998ead">Favorite Presets</h3>


  <!-- slider -->
  
  <ion-slides slidesPerView="2.5" spaceBetween="10px" style="height:33vh; width: 100%;">
      <ion-slide>
          <div class="menu-home-active">
              <img src="./assets/imgs/sun.svg" class="menu-top1">
            <span class="menu-mid1" style="font-size:5vw">Heat</span><p></p>
            <span class="menu-mid1" style="font-size:7vw">10°-20°</span><p></p>
          </div>
          
        </ion-slide>
        <ion-slide>
            <div class="menu-home-close">
                <img src="./assets/imgs/snowflake.svg" class="menu-top1">
                <span class="menu-mid1" style="font-size:5vw">Cool</span><p></p>
                <span class="menu-mid1" style="font-size:7vw">3°-7°</span><p></p>
              </div>
        </ion-slide>
        <ion-slide>
            <div class="menu-home-close">
                <img src="./assets/imgs/sea-waves.svg" class="menu-top1">
                <span class="menu-mid1" style="font-size:5vw">Wet</span><p></p>
                <span class="menu-mid1" style="font-size:7vw">7°-10°</span><p></p>
              </div>
        </ion-slide>
  </ion-slides>

  <!-- temp text -->
  <div class="tempText">
      <span  style="font-size:700%">17</span>
      <span  style="font-size:150%">temp</span>
  </div>
</ion-content>   
  <!-- wave footer -->
  <div  class="wave wave1"></div>
        
  <div class="wave wave2"></div>
        
  <div class="wave wave3"></div>




