
page-home {
    $size: 70%;
    .background-home{
        background:#1a0a3b;
        color: white;
    }

    .wave{
        position: absolute; //absolute -> can move all screens
        //background: #6285c6;
        width: $size*2;
        height: $size;
        border-radius: 43%;
        transform-origin: 50% 48%;
        opacity: 0.3;
        //animation: drift 8000ms infinite linear;
        bottom: -60%;
        left: -20%;
        background: radial-gradient(circle at 100%,#415e92 ,#415e92 50%  rgba(0,0,0,0)100%);
        box-shadow: 0 50px 50px rgba(98, 133, 198, 0.439);
        animation: drift 8000ms infinite linear;
        
    }
    .wave.wave1{
        //animation: drift 8000ms infinite linear;
        // background: radial-gradient(circle at 100%,#415e92 ,#415e92 50%  rgba(0,0,0,0)100%);
        // box-shadow: 0 50px 50px rgba(98, 133, 198, 0.439);
        animation: drift 6000ms infinite linear;
    }
    .wave.wave2{
        animation: drift 4000ms infinite linear;
        // background: radial-gradient(circle at 100%,#415e92 ,#415e92 50%  rgba(0,0,0,0)100%);
        // box-shadow: 0 50px 50px rgba(98, 133, 198, 0.439);
        //animation: drift 6000ms infinite linear;
    }
    .wave.wave3{
        animation: drift 2000ms infinite linear;
        // background: radial-gradient(circle at 100%,#415e92 ,#415e92 50%  rgba(0,0,0,0)100%);
        // box-shadow: 0 50px 50px rgba(98, 133, 198, 0.439);
        //animation: drift 6000ms infinite linear;
    }
    @keyframes drift {
        from {transform: rotate(0deg)};
        from {transform: rotate(360deg)};
    }

    
    .menu-home-active{
        
        background: #ff3e62;
        //width: 20vh;
        height: 25vw*1.7;
        border-radius: 6px;  
        
        
    }
    .menu-home-close{
        
        //background: white;
        //width: 20vh;
        height: 25vw*1.7;
        border-radius: 6px;
        border-style: solid;
        border-width: 2px;
        border-color: #998ead;
        
    }

    .menu-top1{
        //font-size: 2%;   
        padding-left: 28%;
        padding-right: 28%;
        padding-top: 10%;
        //position: absolute;
    }


    .menu-mid1{
        font-size: 5%;  
        padding-top: 70%; 
        padding-left: 5%;
        padding-right: 5%;
        //position: absolute;
    }


    .tempText{
        //font-size: 2%;   
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 5%;   
        text-align: center;
        //position: fixed;
    }

}
