<!--
  Generated template for the PjHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content fixed-content  padding class="background-home">
  
  <h1 style="position:absolute; padding-top: 13px;">Smart Farm Manager
    
  </h1>

  <ion-fab top right>
    <button ion-button icon-only (click)="presentPopover($event)" 
    style="border-radius: 43%; background: #A2C3BD; width: 10vw; height: 10vw;">
      
      <ion-icon name="information"></ion-icon>
    </button>
  </ion-fab>

  <p></p>

  

  <div class="main-slides" [navPush]="pushPage"  style="position: absolute; padding-top: 1vh; ">
    <h3 style="padding-left: 3%; color: gray; padding-top: 1vh">Your farm is hard working!</h3>
  </div>
    <ion-grid no-padding [navPush]="pushPage" style="margin: 5px; padding-right: 3vw;padding-top: 15vh">
      <ion-row class="forecast_container" >
        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -3s;">
            <img src="../assets/imgs/plant.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -6s;">
            <img src="../assets/imgs/mushroom.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#f5a512; --secondsDelay: -9s;">
            <img src="../assets/imgs/fish.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -12s;">
            <img src="../assets/imgs/plant.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>

        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -15s;">
            <img src="../assets/imgs/mushroom.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>

        <ion-col>
          <div class="main-items" style="background:#f5a512; --secondsDelay: -18s;">
            <img src="../assets/imgs/fish.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>

        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -21s;">
            <img src="../assets/imgs/plant.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>

        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -24s;">
            <img src="../assets/imgs/mushroom.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#f5a512; --secondsDelay: -27s;">
            <img src="../assets/imgs/fish.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -30s;">
            <img src="../assets/imgs/plant.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -33s;">
            <img src="../assets/imgs/mushroom.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#f5a512; --secondsDelay: -36s;">
            <img src="../assets/imgs/fish.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>

      </ion-row>

      <ion-row class="forecast_container" >
        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -3s;">
            <img src="../assets/imgs/plant.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#f5a512; --secondsDelay: -6s;">
            <img src="../assets/imgs/fish.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -9s;">
            <img src="../assets/imgs/mushroom.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -12s;">
            <img src="../assets/imgs/plant.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>

        <ion-col>
          <div class="main-items" style="background:#f5a512; --secondsDelay: -15s;">
            <img src="../assets/imgs/fish.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>

        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -18s;">
            <img src="../assets/imgs/mushroom.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>

        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -21s;">
            <img src="../assets/imgs/plant.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>

        <ion-col>
          <div class="main-items" style="background:#f5a512; --secondsDelay: -24s;">
            <img src="../assets/imgs/fish.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -27s;">
            <img src="../assets/imgs/mushroom.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -30s;">
            <img src="../assets/imgs/plant.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#f5a512; --secondsDelay: -33s;">
            <img src="../assets/imgs/fish.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="forecast_container" >
        <ion-col>
          <div class="main-items" style="background:blue; --secondsDelay: -3s;">
            <img src="../assets/imgs/fish.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -6s;">
            <img src="../assets/imgs/mushroom.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -9s;">
            <img src="../assets/imgs/plant.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#f5a512; --secondsDelay: -12s;">
            <img src="../assets/imgs/fish.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>

        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -15s;">
            <img src="../assets/imgs/mushroom.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>

        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -18s;">
            <img src="../assets/imgs/plant.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>

        <ion-col>
          <div class="main-items" style="background:#f5a512; --secondsDelay: -21s;">
            <img src="../assets/imgs/fish.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>

        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -24s;">
            <img src="../assets/imgs/mushroom.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -27s;">
            <img src="../assets/imgs/plant.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#f5a512; --secondsDelay: -30s;">
            <img src="../assets/imgs/fish.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -33s;">
            <img src="../assets/imgs/mushroom.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
        <ion-col>
          <div class="main-items" style="background:#55efc4; --secondsDelay: -36s;">
            <img src="../assets/imgs/plant.svg" style="width:5vh; height:5vh">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


  

<p style="padding-top: 1vh"></p>
<ion-slides [navPush]="pushPage" slidesPerView="2.5" spaceBetween="10px" 
style="height:33vh; width: 100%;">
    <ion-slide>
      <div class="menu-home-close1" style="background: #55efc4;">
          <img src="../assets/imgs/mushroom.svg" class="menu-top1">
        <span class="menu-mid1" style="font-size:5vw">Mushroom</span><p></p>
        <span class="menu-mid11" style="font-size:7vw; color:#00b894">STABLE</span><p></p>
      </div>
      
    </ion-slide>
    <ion-slide>
        <div class="menu-home-close1" style="background: #fdcb6e;">
            <img src="../assets/imgs/fish.svg" class="menu-top1">
            <span class="menu-mid1" style="font-size:5vw">Fish pond</span><p></p>
            <span class="menu-mid11" style="font-size:7vw; color:#f5a512">Problem</span><p></p>
          </div>
    </ion-slide>
    <ion-slide>
        <div class="menu-home-close1" style="background: #55efc4;">
            <img src="../assets/imgs/plant.svg" class="menu-top1">
            <span class="menu-mid1" style="font-size:5vw">garden</span><p></p>
            <span class="menu-mid11" style="font-size:7vw; color:#00b894">STABLE</span><p></p>
          </div>
    </ion-slide>

    <ion-slide>
      <div class="menu-home-close1" style="background: #ffffff;">
          <img src="../assets/imgs/plus.svg" class="menu-top1" style="padding-top: 50%">
        </div>
  </ion-slide>



</ion-slides>

</ion-content>
