page-pj-home {

    $size: 70%;
    .background-home{
        background: #ffffff;
        color: black;
    }

    .main-slides{
        border-radius: 10px; 
        background: white; 
        height:calc((32vh*0.8) + (25vw*0.48));
        right: 4.5vw;
        width: 91vw;
        top: 12vh;
        -webkit-box-shadow: 5px 12px 23px 4px rgba(95, 95, 95, 0.28);
        -moz-box-shadow: 5px 12px 23px 4px rgba(95, 95, 95, 0.28);
        box-shadow: 5px 12px 23px 4px rgba(95, 95, 95, 0.28);
        
    }

    .main-items{
        padding-top: 1vh;
        width: 7vh;
        height: 7vh;
        border-radius: 10px; 
        padding-left: 2vw;
        //animation: move 1000ms infinite linear;
        position: absolute;
        top: 0;
        left: -0vw;
        animation: moveAcross 80s linear infinite;
        //animation-delay: 0s;
        animation-delay: var(--secondsDelay);
    }

    .forecast_container{
         
        word-wrap: break-word;
        height:8vh;
        overflow-x: hidden;
        //padding-left: -5%;
    }

    .menu-item{
        //font-size: 2%;   
        //height: calc((6vh*0.8) + (6vw*0.5));
        //position: absolute;
        padding-top: 1vh;
        width: 50px;
        width: 50px;
        border-radius: 10px; 
    }

    .menu-home-show1{
        height: calc((6vh*0.8) + (6vw*0.5));
        padding-top: 5%;
        border-radius: 10px;  
        //text-color: black;
        color: #ffffff;
        //animation: move 1000ms infinite linear;
    }
    .menu-top1{
        //font-size: 2%;   
        //height: calc((6vh*0.8) + (6vw*0.5));
        //position: absolute;
        padding-left: 28%;
        padding-right: 28%;
        padding-top: 10%;
    }

    .menu-home-active{
        
        //background: #fd79a8;
        //width: 20vh;
        height: calc((25vh*0.8) + (25vw*0.5));
        
        border-radius: 10px;  
        //text-color: black;
        color: #ffffff;
        
        
        
    }
    .menu-home-show{
        height: calc((6vh*0.8) + (6vw*0.5));
        padding-top: 5%;
        border-radius: 10px;  
        //text-color: black;
        color: #ffffff;
    }


    .menu-home-close{
        
        //background: white;
        //width: 20vh;
        //background: #6c5ce7;
        height: calc((25vh*0.8) + (25vw*0.5));
        //border-style: solid;
        //border-width: 2px;
        //border-color: black;
        color: #ffffff;
        border-radius: 10px;
    }
    .menu-home-close1{
        
        //background: white;
        //width: 20vh;
        //background: #6c5ce7;
        height: calc((25vh*0.8) + (25vw*0.5));
        border-radius: 20px;
        //border-style: solid;
        //border-width: 1px;
        //border-color: white;
        color: #ffffff;
        -webkit-box-shadow: 5px 12px 23px -13px rgba(0,0,0,0.28);
        -moz-box-shadow: 5px 12px 23px -13px rgba(0,0,0,0.28);
        box-shadow: 5px 12px 23px -13px rgba(0,0,0,0.28);

    }




    .menu-mid1{
        font-size: 1vh;  

        padding-left: 5%;
        padding-right: 5%;
        //position: absolute;
    }
    
    .menu-mid11{
        font-size: 1vh;  
        padding-top: 100vh;
        padding-left: 5%;
        padding-right: 5%;
        //position: absolute;
    }


    .tempText{
        //font-size: 2%;   
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 5%;   
        text-align: center;
        //position: fixed;
    }

    .move{
        animation: move 1000ms infinite linear;
        // background: radial-gradient(circle at 100%,#415e92 ,#415e92 50%  rgba(0,0,0,0)100%);
        // box-shadow: 0 50px 50px rgba(98, 133, 198, 0.439);
        //animation: drift 6000ms infinite linear;
    }

    @keyframes moveAcross {
        0% {
          left: -100vw;
        }
        100% {
          left: 100vw;
        }
      }

}
